/* body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  } */
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    padding: 8px 8px;
  }
  
  .card {
    align-content: center;
    box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);
    margin: 5px;
  }
  
  .about-section {
    margin: 40px 40px 0;
    padding: 40px;
    text-align: center;
    background:linear-gradient(#000,rgb(94, 102, 103));
    color: whitesmoke;
  }
  
  .container {
    padding: 0 10px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
    text-align: center;
  }
  
  /*.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }*/
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .about-section p {
    color: whitesmoke;
    text-align: justify;
  }
  p {
    color: black;
    text-align: justify;
  }
  .card-img {
    padding: 20px;
    text-align: center;
  }
  .staff {
    text-align: center;
  }