#row {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  #row {
    box-sizing: border-box;
  }
  
  #row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }

#first {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
#second {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  #first,
  #second {
    padding: 0 16px;
  }
  
  #box {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    display: inline-block;
    background-color: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 20px;
    border-radius: 30px;
  }
  
  .btn:hover {
    background: rgb(94, 102, 103);
    color: #000;
  }
  hr {
    border: 1px solid lightgrey;
  }
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    #row {
      flex-direction: column-reverse;
    }
  }
  /*------------media query for menu---------------*/

@media only screen and (max-width: 800px){
    
    nav ul{
        position:absolute;
        top: 70px;
        right:0;
        background: linear-gradient(#000,rgb(94, 102, 103));
        width:40%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    #close{
        position: absolute;
        top: 0px;
        right: 120px;
        color: #e2e9e1;
        font-size: 24px;
    }
}


/*------------media query for less 600 screen size----*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-5{
        flex-basis: 100%;
    }
    .footer-col-1, .footer-col-2, .footer-col-3{
        text-align: center;
    }
    .single-prod .row{
        text-align: left;
    }
    .single-prod .col-2{
        padding: 20px 0;
    }
    .single-prod h1{
        font-size: 26px;
        line-height: 22px;
    }
}